extends layout

block content
	h1 PDF Generator
	p The PDF Generator creates converts web pages to pdf files on-the-fly using a simple JSON api.
	p 
		| If you're interested in using this service for your own purposes, please contact me: 
		a(href="mailto:nhagianis@gmail.com") nhagianis[at]gmail.com
